name: Checks

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: "Init: Install dependencies"
        run: bun install
      - name: "Build: Trigger build"
        run: bun run build
      - name: "Test: src"
        run: bun test
      - name: "Test: integration"
        run: bun test _test_/integration
      - name: "Lint & Format: biome ci"
        run: bunx biome ci
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: "Init: Install dependencies"
        run: bun install
      - uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
