name: Test and Publish

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Increase watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - name: "Init: Install dependencies"
        run: bun install
      - name: "Build: Trigger build"
        run: bun run build
      - name: "Test: source"
        run: bun test
      - name: "Test: integration"
        run: bun test _test_/integration
      - name: "Lint & Format: biome ci"
        run: bunx biome ci .

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: '.nvmrc'
      - name: "Init: Install dependencies"
        run: bun install
      - name: "Build: Trigger build staging site"
        run: bun run build
      - name: "Publish: Trigger semantic release"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: bun run semantic-release
